@model OnlineStoreFurniture.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Stock: @Model.Stock</p>
</div>
<a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to List</a>

